<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greengram.feed.comment.FeedCommentMapper">

    <insert id="postProjectComment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO project_comment
        SET project_id = #{projectId}
        , user_id = #{userId}
        , content = #{content}
    </insert>

    <select id="getProjectCommentList">
        SELECT A.comment_id AS commentId
        , A.content
        , B.user_id AS userId
        , IFNULL(nick_name, uid) AS nickName
        , B.pic
        FROM shared_project_comment A
        INNER JOIN user B
        ON A.user_id = B.user_id
        WHERE A.project_id = #{projectId}
        ORDER BY A.comment_id DESC
    </select>

    <delete id="deleteProjectComment">
        DELETE FROM shared_project_comment
        WHERE comment_id = #{commentId}
        AND user_id = #{userId}
    </delete>
</mapper>